@charset 'UTF-8';
	html
	{
		height: 100%;
		box-sizing: border-box;
	}
	#container
	{
		min-height:100%;
		position: relative;
	}
	#header
	{
		position: center;
		background: #ddd url(../images/header.jpg) no-repeat center;
		background-size: cover;
	}
	#title{
		color: #ffffff;
	}
	#sign_up_div{
		display: none;
	}
	#login_div{
		display: none;
	}
	body
	{
		position: relative;
		height: 98%;
	}
	body, input
	{
		font-family: 'Oxygen', sans-serif;
		font-size: 13pt;
		line-height: 2em;
		border-radius: 5px;
	}
	h1,h3,h4,h5
	{
		font-weight: bold;
		color: #874401;
	}
	h2
	{
		font-weight: bold;
		color: white;
	}
	a
	{
		color: red;
	}
	a:hover
	{
		color: 971500;
	}
	button
	{
		background-color: #ebd29b;
		border-color: #502500 #663300 #663300 #502500;
		border-style: solid;
		border-width: 2px;
		color: #502500;
		cursor: pointer;
		font-size: 1.2em;
		font-weight: bold;
		margin: 0;
		padding: 4px 8px;
	}
	#itemImage
	{
		position: relative;
		padding: 20px;
	}
	#footer
	{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 25px;
		color: rgba(0s,0,0,.2);
		text-align: center;
	}
	table.resultsTable
	{
  border: 2px solid #502500;
  background-color: #E8D3A2;
  width: 75%;
  text-align: center;
	}
	table.historyTable
	{
  border: 2px solid #502500;
  background-color: #E8D3A2;
  width: 100%;
  text-align: center;
	}
